.login-page-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 3%;
  margin-top: 5%;
}
.login-page>div {
    padding: 3%;
    margin-top: 5%;
  }
  